* {
	font-size: 1em;
	font-family: monospace;
	border-radius: 0;
}

window#waybar {
	color: #edecee;
	background: transparent;
}

#custom-arrow-left-fg,
#custom-arrow-right-fg {
	color: #15141b;
}
#custom-arrow-left-bg,
#custom-arrow-right-bg {
	color: #000;
	background: #15141b;
}

#backlight,
#battery,
#clock,
#memory,
#mode,
#network,
#cpu,
#pulseaudio,
#custom-waybar-mpris,
#tray {
	border-radius: 15px;
	padding: 0 10px;
	background: #15141b;
	box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#custom-waybar-mpris {
	color: #61ffca;
}

#mode {
	color: #15141b;
	background: #61ffca;
}

#workspaces  {
	background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 25px;
}
#workspaces button {
	box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
  border-radius: 15px;
  margin-right: 10px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bolder;
  color: #edecee;
  background: #15141b;

}
#workspaces button.visible {
	color: #15141b;
	background: #6d6d6d;
}
#workspaces button.active {
	color: #15141b;
	background: #a277ff;	
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.288) 2 2 5 2px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
  padding-left: 20px;
  padding-bottom: 3px;
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
}
#workspaces button.urgent {
	color: #15141b;
	background: #61ffca;
}
#workspaces button:hover {
	color: #61ffca;
	background: #15141b;
	border: 1px solid #61ffca;
	box-shadow: inherit;
	text-shadow: inherit;
}

#backlight {
	color: #f694ff;
}
#battery {
	color: #82e2ff;
}
#memory {
	color: #ff6767;
}
#network {
	color: #61ffca;
}
#pulseaudio {
	color: #ffca85;
}

#cpu {
	color: #a277ff
}
